body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
svg{
    width: 30px;
}

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader-container.remove{
    display: none;
}

.loader {
    width: 125px;
    height: 125px;
    border: 5px solid #111;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1.2s linear infinite;

    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

a{
    text-decoration: none;
    color: #2F2F2F;
}
button{
    cursor: pointer;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap:30px;
}
.icon-cart{
    position: relative;
    cursor: pointer;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.categories{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: x-large;
    cursor: pointer;
    font-weight: 700;
}



.categories a.active{
    color: red;
}


.title{
    font-size: 36px;
}

.similar{
    margin-top: 20px;
}


.cartTab{
    width: 400px;
    max-width: 100%;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 60px 70px;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: larger;
}
.cartTab .close{
    font-size: larger;
    font-weight: 500;
    background-color: #eee;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

/*  */
.cartTab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cartTab{
    right: 0;
}
body.activeTabCart .container{
    transform: translateX(-250px);
}

/*  */

.listProduct .item img{
    width: 90%;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.basket{
    display: flex;
    justify-content: center;
}



.listProduct .item{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 240px;
}
.listProduct .item h2{
    height: 42px;
    font-weight: normal;
    font-size: large;
}
.listProduct .item .price{
    color: #333333;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 700;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 125px;

    flex-grow: 0;
}

.listProduct .item img{
    border-radius: 15%;
    width: 150px;
    height: 100px;
}








/*  */

.listCart .item img{
    width: 100%;
    border-radius: 7px;
    height: 46px;
}
.listCart .item{
    display: grid;
    padding-left: 10px;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .quantity{
    display: flex;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}


.lane{
 height: 3px;
  background-color: white;
  margin: 0 auto; /* Выравнивание по центру */
}

.buyCart-Info .lane{
  height: 3px;
  background-color: rgb(172, 172, 172);
  border-radius: 5px;
  margin: 0 auto; /* Выравнивание по центру */
  width: 100%; /* Ширина полосы */
}


.cartInfo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}


/*  */

/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}


.detail .image img{
    border-radius: 15%;
    width: 425px;
    min-height: 283px;
}
.detail .image{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* .detail .image::before{
    position: absolute;
    width: 500px;
    height: 300px;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 0;
    left: calc(50% - 250px);
    top: 15px;

} */
.detail .name{
    font-size: 48px;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.detail .buttons{
    align-items: center;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}

.detail .buttons button:nth-child(1){
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F2F2F;
}

.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
}
.detail .description{
    font-weight: 300;
}


.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    height: 850px;
    max-height: 90%;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    width: 1200px;


}

.btn{
    display: flex;
    justify-content: space-between;
}

.buy{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 80px; /* Устанавливаем фиксированную высоту */
    width: 200px; /* Устанавливаем фиксированную ширину */
    }

.closeModalWindow{
    background-color: #95a5a6; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Удаляем рамку */
    border-radius: 5px; /* Закругляем края */
    font-size: 24px; /* Размер текста */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s ease; /* Добавляем плавный переход при наведении */
    height: 80px; /* Устанавливаем фиксированную высоту */
    width: 200px; /* Устанавливаем фиксированную ширину */
}


.buyInfo{
    font-size: 30px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.buyCart{
    height: 600px;
    overflow: auto;
}


.buyCart .item img{
    width: 100%;
    border-radius: 15px;
    height: 150px;
}

.buyCart .item .name {
    padding: 20px;
   justify-content: center;
   font-size: xx-large;
   font-weight: 700;
}



.buyCart .totalPrice{
    font-weight: 700;
    font-size: xx-large;
}

.buyCart .item {
    display: grid;
    grid-template-columns: 20% 20% 1fr 10% 90px;
    grid-column-gap: 20px;
    align-items: center;
    font-size: 1.5rem; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    margin: 10px 0;
}

.buyCart .item:nth-child(2n){
    background-color: #eee1;
}

.buyCart .item:hover {
    background-color: #e9ecef;
  }

.buyCart .item:hover >  .quantity .minus, .buyCart .item:hover >  .quantity .plus  {
    background-color: white;

  }

.buyCart .quantity span{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.buyCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #000000;
    cursor: auto;
}
.buyCart .quantity{
    align-items: center;
    display: flex;
}







/*  */

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 767px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}